<nav id="navbar" class="navbar navbar-expand-md fixed-top {{headerClass}}">
    <div class="container">
        <a pageScroll class="navbar-brand" href="#topo">Freelance Html CSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto" role="tablist">
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#portfolio">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#equipe">Equipe</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#historico">Histórico</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
