@import "src/assets/css/variables.sass"
@import "src/assets/css/extends.sass"
@import "src/assets/css/mixins.sass"

.navbar-brand 
    font-family: "Kaushan Script"
    font-size: 1.9rem 
    @extend %color-theme
    @include tablet
        font-size: 1rem
.navbar-nav 
    a
        font-family: "Montserrat"
        text-transform: uppercase
        color: #fff
        &:hover
            @extend %color-theme
    .nav-item
        padding: 10px
.navbar-toggler
    line-height: 6px
    width: 33px
    padding: 10px 5px
    .navbar-toggler-icon
        width: 10px
        height: 3px
        display: inline-block
        background: #FFF
