
    <footer class="background-light-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					<p>Freelance HTML CSS - Recorte e montagem HTML/CSS/jQuery/Responsivo/Tableless/W3C - <a href="https://plus.google.com/+FernandaPieretti?rel=author">Por Fernanda Pieretti</a></p>
                </div>
            </div>
        </div>
    </footer>
