<section id="historico" class="about background-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">Histórico</h2>
                <h3 class="section-subheading text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Como eu vim parar aqui?</h3>
            </div>
        </div>
        <div class="row os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2007</h4>
                                <h4 class="subheading">O começo de tudo</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Depois de 3 anos trabalhando com papéis e atendento à telefones, decidi iniciar uma graduação que mudaria os rumos da minha carreira. Descobri nela que Desenvolvimento Web não era nada daquilo que eu pensava, mas que era muito mais legal.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009</h4>
                                <h4 class="subheading">Primeira atuação na área</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Depois de graduada, fui contratada como trainee por uma das maiores empresas de cursos on-line do país. Conheci então as famosas camadas de estilo, uma ciência nada exata e pouco conhecida pelos devs. Por isso, resolvi focar no front-end e deixar de lado o Java.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011</h4>
                                <h4 class="subheading">Especializando</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Iniciei minha especialização em Sistemas de Informação, onde pude aprender mais e fazer melhor aquilo que eu já fazia. Comecei a estudar também o Code Igniter, um framework em PHP, que hoje é a base de todo meu trabalho de programação dos sites (sim! eu não uso WordPress!).</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013</h4>
                                <h4 class="subheading">Expandindo horizontes</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Surgiu a ideia de anunciar meu trabalho como freelancer no Adwords para ver no que dava. Aí, fiz este site (na verdade não era este, já estamos na versão 3.0) para expor meus freelas, o que trouxe clientes de diferentes cantos do país. Também tirei minha primeira certificação em HTML pela W3C.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Evoluindo</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Comecei a estudar layouts responsivos, efeitos e animações com CSS3. Optei também por tirar outra certificação e me tornei MCP com a 70-480 Programming in HTML5 with JavaScript and CSS3 Specialist.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">O que vem por aí?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Continuo trabalhando com meus freelas nas horas vagas e já participei de mais de 100 projetos. Quanto mais trabalho, mais vejo o quanto tenho a aprender. Procuro entregar o melhor trabalho que eu puder no menor tempo possível, assim todo mundo fica feliz e eu continuo recebendo indicações!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-fluid" src="./assets/img/7.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>;)</h4>
                                <h4 class="subheading">Isso é tudo, pessoal!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Caso tenha interesse em entrar em contato, utilize o formulário abaixo, prometo responder o mais breve possível. Até mais!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
