<section id="contato" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">Entre em contato</h2>
                <h3 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">Orçamentos, dúvidas, sugestões...</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nome *" id="name" required data-validation-required-message="Ops! Nome em branco.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mail *" id="email" required data-validation-required-message="Ops! E-mail em branco.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Telefone" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mensagem *" id="message" required data-validation-required-message="Ops! Mensagem em branco."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-lg">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
