@import "src/assets/css/variables.sass"
@import "src/assets/css/extends.sass"

#contato
    background: url("src/assets/img/map.jpg") no-repeat top center fixed
    background-size: cover
    @extend %height-full
    h2, h3
        @extend %color-white
    textarea
        height: 145px