@-webkit-keyframes fadeOutLeft
    0%
        opacity: 1
        -webkit-transform: translateX(0)    
    100%
        opacity: 0
        -webkit-transform: translateX(-20px)
@keyframes fadeOutLeft
    0%
        opacity: 1
        transform: translateX(0)
    100%
        opacity: 0
        transform: translateX(-20px)