@import "src/assets/css/variables.sass"
@import "src/assets/css/extends.sass"

body
    font: 400 .9rem "Roboto Slab"
section
    padding: 150px 0
h2
    margin: 0 0 15px
    font: 700 2.5rem Montserrat
    text-transform: uppercase
    @extend %cursor-default
h3
    margin: 0 0 75px
    font: italic 400 1rem "Droid Serif"
    line-height: 26px
    @extend %cursor-default
h4
    margin: 15px 0
    font: 700 1.1rem "Montserrat"
    @extend %cursor-default
p
    line-height: 1.5rem
    @extend %cursor-default    
.background-light-gray
    @extend %background-light-gray
.img-circle
    border-radius: 20rem 
.bg-dark
    background: #000 !important
    transition: .3s ease-in
.btn
    @extend %color-white
    @extend %background-theme