%color-theme
    color: $color-theme
%color-white
    color: #ffffff

%background-black
    background: #000

%cursor-default
    cursor: default
%cursor-pointer
    cursor: pointer

%background-theme
    background-color: $color-theme
%background-light-gray
    background-color: $color-light-gray

%height-full
    min-height: 100vh