@mixin tablet
    @media (max-width: 996px)
        @content

@mixin mobile
    @media (max-width: 767px)
        @content

@mixin animation($seg, $animation)
    -webkit-animation-duration: $seg;
    animation-duration: $seg;
    -webkit-animation-name: $animation
    animation-name: $animation