@import "src/assets/css/variables.sass"
@import "src/assets/css/extends.sass"
@import "src/assets/css/mixins.sass"

.banner
    min-height: 100vh
    text-align: center
    background: url("src/assets/img/banner.jpg") no-repeat top center fixed
    background-size: cover
    @extend %color-white
    @extend %height-full
    h1
        font: 700 4.5rem Montserrat
        line-height: 85px
        margin-bottom: 50px
        text-transform: uppercase
        @extend %cursor-default
        @include tablet
            font-size: 2.7rem
            line-height: 3rem
    p
        margin: 0 0 25px
        font: italic 2.5rem "Droid Serif"
        line-height: 40px
        @extend %cursor-default
