<section id="banner" class="banner d-flex align-items-center">
    <div class="container">
        <div class="intro-text">
            <p class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">Saudações, internauta!</p>
            <h1 class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Aqui seus layouts se tornam felizes páginas web</h1>
            <a href="#contato" pageScroll class="page-scroll btn btn-lg os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">Eu quero!</a>
        </div>
    </div>
</section>