@import "src/assets/css/variables.sass"
@import "src/assets/css/extends.sass"

.portfolio
    .portfolioFilter
        text-align: center
        margin: 0 0 80px
        a
            display: inline-block
            margin: 0 20px
            font-size: 20px
            @extend %cursor-pointer
            @extend %color-theme
    .portfolio-item 
        right: 0
        margin: 0 0 15px
    .portfolio-item .portfolio-link 
        display: block
        position: relative
        margin: 0 auto
        max-width: 400px
    .portfolio-item .portfolio-link .portfolio-hover 
        position: absolute
        width: 100%
        height: 100%
        opacity: 0
        background: rgba(254,209,54,.9)
        -webkit-transition: all ease .5s
        -moz-transition: all ease .5s
        transition: all ease .5s
    .portfolio-item .portfolio-link .portfolio-hover:hover 
        opacity: 1
    .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content 
        position: absolute
        top: 50%
        width: 100%
        height: 20px
        margin-top: -12px
        text-align: center
        font-size: 20px
        color: #fff
    .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i 
        margin-top: -12px
    .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
    .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 
        margin: 0
    .portfolio-item .portfolio-caption 
        margin: 0 auto
        padding: 25px
        max-width: 400px
        text-align: center
        background-color: #fff
    .portfolio-item .portfolio-caption h4 
        margin: 0
        text-transform: none
    .portfolio-item .portfolio-caption p 
        margin: 0
        font-family: "Droid Serif"
        font-size: 16px
        font-style: italic
    * 
        z-index: 2
