<section id="portfolio" class="portfolio background-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">Portfólio</h2>
        <h3 class="section-subheading text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Serviços realizados em parceria com Designers e Agências.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="portfolioFilter os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">
          <a (click)="filterProjects('destaques')">Destaques</a>
          <a (click)="filterProjects('htmlcss')">HTML + CSS</a>	
          <a (click)="filterProjects('phpmysql')">PHP + MySQL</a>			
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row portfolioContainer">
          <div *ngFor="let project of projects" class="col-md-4 col-sm-6 portfolio-item {{project.type}}">
            <a href={{project.url}} class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover"> <div class="portfolio-hover-content"> <i class="fa fa-plus fa-3x"></i> </div> </div>
              <img src={{project.img}} class="img-fluid" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{project.name}}</h4>
              <p class="text-muted">{{project.technologies}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
