<app-header></app-header>
<app-banner></app-banner>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-team></app-team>
<app-about></app-about>
<app-contact></app-contact>
<app-footer></app-footer>