<section id="servicos" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">Serviços</h2>
                <h3 class="section-subheading text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">Tudo o que agências, designers, programadores, empresários, startups e qualquer outra profissão ou estilo de vida, precisam para ter um site </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="./assets/img/recorte.png" alt="" class=" os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s" />
                <h4 class="service-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Recortes responsivos</h4>
                <p class="text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Layouts em Illustrator, Corel Draw, Fireworks ou Photoshop convertidos para HTML5 CSS3 e jQuery responsivo com as melhores qualidade e agilidade do Oeste!</p>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/programacao.png" alt=""class=" os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s" />
                <h4 class="service-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">Programação em PHP + MySQL</h4>
                <p class="text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">Já tem o recorte mas está tudo estático? Tenha uma área restrita personalizada para administrar tudo sem ter que operar o HTML, abrir ou fechar aquelas tags chatas que nem fazem muito sentido.</p>
            </div>
            <div class="col-md-4">
                <img src="./assets/img/site.png" alt="" class=" os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.8s"/>
                <h4 class="service-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.8s">Sites completos por encomenda</h4>
                <p class="text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.8s">Em parceria com ótimos designers fazemos o layout, recorte e programação do seu site. Assim, você só precisa se preocupar com o que vai almoçar amanhã.</p>
            </div>
        </div>
    </div>
</section>
