<section id="equipe">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">E(u)QUIPE</h2>
                <h3 class="section-subheading text-muted os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">Bom, sou eu. Muito prazer!</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">
                    <img src="./assets/img/foto.png" class="img-circle img-fluid" alt="Fernanda Pieretti" />
                    <h4>Fernanda Pieretti</h4>
                    <p class="text-muted">Eu uso uma combinação de habilidades técnicas e criatividade para transformar os layouts desenhados pelos designers em sites navegáveis através da utilização de várias siglas legais (HTML, CSS, JS, PHP, MySQL, Etc).</p>
                </div>
            </div>
        </div>
    </div>
</section>
